@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";
@use "sass:map";

$fw-play: (
  "regular": 400,
  "bold": 700,
  "black": 900,
);
// font-weight: map-get($fw-play, "regular");

$fw-roboto: (
  "regular": 400,
  "black": 900,
);
// font-weight: map-get($fw-roboto, "regular");

//  BASE STYLES

html {
  font-size: 62.5%;
}

body {
  .container {
    max-width: 942px;
    margin: 0 auto;
  }
}

// SECTION 1

.section1 {
  height: 669px;
  background-image: url("../images/trees1.jpg");
  background-size: cover;
  background-position: top center;
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    nav {
      display: flex;
      a {
        display: block;
        color: $white;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: map-get($fw-roboto, "regular");
        &:hover {
          color: $turquoise;
        }
      }
      a:not(:last-child) {
        padding: 21px 12px;
      }
      a:last-child {
        padding: 21px 0 21px 12px;
      }
    }
  }
  main {
    padding-top: 163px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    h1 {
      font-family: "Playfair Display", serif;
      font-weight: map-get($fw-play, "black");
      font-size: 3.2rem;
      text-transform: capitalize;
      color: $white;
      padding-bottom: 58px;
      &::after {
        content: "";
        display: block;
        width: 48px;
        height: 1px;
        background-color: $turquoise;
        position: absolute;
        left: calc(50% - 24px);
        margin-top: 25px;
      }
    }
    p {
      font-family: "Roboto", sans-serif;
      font-weight: map-get($fw-roboto, "regular");
      font-size: 1.4rem;
      color: $white;
      line-height: 2.4rem;
    }
    button {
      background-color: transparent;
      outline: none;
      border: 1px solid $turquoise;
      font-family: "Roboto", sans-serif;
      font-weight: map-get($fw-roboto, "regular");
      font-size: 1.4rem;
      color: $turquoise;
      padding: 13px 15px;
      cursor: pointer;
      margin-top: 45px;
      transition: all 100ms;
      &:hover {
        // transform: scale(1.05);
        font-weight: map-get($fw-roboto, "black");
        border: 2px solid $turquoise;
        margin-top: 43px;
      }
    }
    ul {
      display: flex;
      padding-top: 127px;
      li {
        &:not(:last-child) {
          margin-right: 4px;
        }
        &::after {
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          background-color: transparent;
          border-radius: 50%;
          border: 1px solid $white;
        }
        &.on::after {
          background-color: $turquoise;
          border: 1px solid $turquoise;
        }
      }
    }
  }
}

// SECTION 2

.section2 {
  height: 569px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    header {
      font-family: "Playfair Display", serif;
      font-weight: map-get($fw-play, "bold");
      h2 {
        font-size: 2.2rem;
        text-align: center;
        text-transform: uppercase;
        padding: 69px 0 15px 0;
        color: $subtitle-text;
      }
      p {
        font-weight: map-get($fw-play, "regular");
        font-size: 1.4rem;
        color: $title;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 48px;
          height: 1px;
          background-color: $title;
          position: absolute;
          left: calc(50% - 24px);
          margin-top: 20px;
        }
      }
    }
    main {
      padding-top: 66px;
      display: flex;
      aside {
        margin-left: 116px;
        font-family: "Roboto", sans-serif;
        font-weight: map-get($fw-roboto, "regular");
        font-size: 1.4rem;
        color: $title;
        line-height: 2.2rem;
        p:first-child {
          padding-top: 27px;
        }
        p:last-child {
          padding-top: 32px;
        }
      }
    }
    footer {
      button {
        background-color: transparent;
        outline: none;
        border: 1px solid $turquoise;
        font-family: "Roboto", sans-serif;
        font-weight: map-get($fw-roboto, "regular");
        font-size: 1.4rem;
        color: $turquoise;
        padding: 13px 15px;
        cursor: pointer;
        margin-top: 29px;
        transition: all 100ms;
        &:hover {
          // transform: scale(1.05);
          font-weight: map-get($fw-roboto, "black");
          border: 2px solid $turquoise;
          margin-top: 27px;
        }
      }
    }
  }
}

// SECTION 3

.section3 {
  height: 550px;
  background-image: url("../images/skyline.jpg");
  background-size: cover;
  background-position: top center;
  padding-top: 202px;
  .play {
    margin: 0 auto;
    width: 93px;
    height: 93px;
    border: 2px solid $white;
    border-radius: 50%;
    color: $white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
  }
  h3 {
    text-transform: uppercase;
    color: $white;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: map-get($fw-roboto, "black");
    text-align: center;
    margin-top: 33px;
  }
}

// SECTION 4

.section4 {
  height: 754px;
  header {
    h2 {
      font-size: 2.2rem;
      text-align: center;
      text-transform: uppercase;
      padding: 69px 0 15px 0;
      color: $subtitle-text;
    }
    p {
      font-weight: map-get($fw-play, "regular");
      font-size: 1.4rem;
      color: $title;
      position: relative;
      text-align: center;
      &::after {
        content: "";
        display: block;
        width: 48px;
        height: 1px;
        background-color: $title;
        position: absolute;
        left: calc(50% - 24px);
        margin-top: 20px;
      }
    }
  }
  main {
    @include make-col(3, 0px);
    margin-top: 71px;
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 38px 18px 46px 18px;
      height: 250px;
      &:first-child {
        border-bottom: 1px solid $line;
        border-right: 1px solid $line;
      }
      &:nth-child(2) {
        border-bottom: 1px solid $line;
        border-right: 1px solid $line;
      }
      &:nth-child(3) {
        border-bottom: 1px solid $line;
      }
      &:nth-child(4) {
        border-right: 1px solid $line;
      }
      &:nth-child(5) {
        border-right: 1px solid $line;
      }
      .picture {
        color: $turquoise;
        font-size: 5rem;
      }
      h4 {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-family: "Roboto", sans-serif;
        font-weight: map-get($fw-roboto, "black");
        color: $subtitle-text;
        padding-top: 30px;
        padding-bottom: 23px;
      }
      p {
        font-family: "Roboto", sans-serif;
        font-weight: map-get($fw-roboto, "regular");
        font-size: 1.4rem;
        line-height: 2.2rem;
        text-align: center;
        color: $title;
      }
    }
  }
}

// SECTION 5

.section5 {
  height: 711px;
  background-image: url("../images/trees1.jpg");
  background-size: cover;
  background-position: top center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    h2 {
      font-size: 2.2rem;
      text-align: center;
      text-transform: uppercase;
      padding: 69px 0 15px 0;
      color: $white;
      font-weight: map-get($fw-play, "bold");
    }
    p {
      font-weight: map-get($fw-play, "regular");
      font-size: 1.4rem;
      color: $white;
      position: relative;
      text-align: center;
      &::after {
        content: "";
        display: block;
        width: 48px;
        height: 1px;
        background-color: $white;
        opacity: 0.5;
        position: absolute;
        left: calc(50% - 24px);
        margin-top: 20px;
      }
    }
  }
  main {
    @include make-col(4, 18px);
    margin-top: 65px;
    section {
      footer {
        border: 1px solid rgba(227, 225, 226, 0.5);
        padding: 21px 44px;
        p {
          text-align: center;
          font-size: 1.4rem;
          color: $white;
          text-transform: uppercase;
          font-family: "Roboto", sans-serif;
          &:first-child {
            padding-bottom: 11px;
            font-weight: map-get($fw-roboto, "black");
          }
        }
      }
    }
  }
  footer {
    button {
      background-color: transparent;
      outline: none;
      border: 1px solid $turquoise;
      font-family: "Roboto", sans-serif;
      font-weight: map-get($fw-roboto, "regular");
      font-size: 1.4rem;
      color: $turquoise;
      padding: 13px 15px;
      cursor: pointer;
      margin-top: 110px;
      transition: all 100ms;
      text-transform: uppercase;
      &:hover {
        // transform: scale(1.05);
        font-weight: map-get($fw-roboto, "black");
        border: 2px solid $turquoise;
        margin-top: 108px;
      }
    }
  }
}

// SECTION 6

.section6 {
  height: 793px;
  .special-container {
    // max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    header {
      h2 {
        font-size: 2.2rem;
        text-align: center;
        text-transform: uppercase;
        padding: 69px 0 15px 0;
        color: $subtitle-text;
        font-weight: map-get($fw-play, "bold");
      }
      p {
        font-weight: map-get($fw-play, "regular");
        font-size: 1.4rem;
        color: $title;
        position: relative;
        text-align: center;
        &::after {
          content: "";
          display: block;
          width: 48px;
          height: 1px;
          background-color: $title;
          opacity: 0.5;
          position: absolute;
          left: calc(50% - 24px);
          margin-top: 20px;
        }
      }
    }
    main {
      @include make-col(6, 0px);
      margin-top: 66px;
      align-self: stretch;
      div {
        height: 200px;
        &:first-child {
          background-color: #b6b6b6;
        }
        &:nth-child(2) {
          background-color: #acacac;
        }
        &:nth-child(3) {
          background-color: #a1a1a1;
        }
        &:nth-child(4) {
          background-color: #8a8a8a;
        }
        &:nth-child(5) {
          background-color: #b6b6b6;
        }
        &:nth-child(6) {
          background-color: #a4a4a4;
        }
        &:nth-child(7) {
          background-color: #a4a4a4;
        }
        &:nth-child(8) {
          background-color: #b6b6b6;
        }
        &:nth-child(9) {
          background-color: #8a8a8a;
        }
        &:nth-child(10) {
          background-color: #a1a1a1;
        }
        &:nth-child(11) {
          background-color: #acacac;
        }
        &:last-child {
          background-color: #b6b6b6;
        }
      }
    }
    footer {
      button {
        background-color: transparent;
        outline: none;
        border: 1px solid $turquoise;
        font-family: "Roboto", sans-serif;
        font-weight: map-get($fw-roboto, "regular");
        font-size: 1.4rem;
        color: $turquoise;
        padding: 13px 15px;
        cursor: pointer;
        margin-top: 69px;
        transition: all 100ms;
        text-transform: uppercase;
        &:hover {
          // transform: scale(1.05);
          font-weight: map-get($fw-roboto, "black");
          border: 2px solid $turquoise;
          margin-top: 67px;
        }
      }
    }
  }
}

// FOOTER

body {
  > footer {
    height: 73px;
    background-color: $purple;
    display: flex;
    justify-content: center;
    padding-top: 28px;
    p {
      color: $white;
      font-family: "Roboto", sans-serif;
      font-weight: map-get($fw-roboto, "black");
      font-size: 1.4rem;
    }
  }
}
